$color-background: #474747;
$color-step-label: #fefefd;
$color-step-1: #a9e9c3;
$color-step-2: #a9dae9;
$color-step-3: #ebc5a8;
$color-title-primary: #fefefd;
$color-title-secondary: #3b8dcd;
$color-text: #01010b;

$size-checkmark: 74px;
$color-checkmark-background: #b6fcb0;
$color-checkmark: #4e9b1e;
$color-checkmark-border-from: #d1fcd3;
$color-checkmark-border-to: #6a9b75;